doctype 5
html(lang="en")
  head
    title The game in jade
    base(href=baseUrl)
    meta(charset=utf8)
    meta(name="viewport",content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    link(href="assets/main.css", rel="stylesheet", media="screen")
  body
    script(data-main="js/main.js", src="js/require.js")
    div#santa.santa
    div.shadow
    div.text
    div.reindeer.r1
    div.reindeer.r2
    div.reindeer.r3
    div#fps
    div#matrix
        table
            tr
                each direction in ['x', 'y', 'z']
                    tr
                        input(type="number", value=0, min=0, max=360, step=1, class="matrix-rotate", data-direction=direction)
            each row in [0, 1, 2, 3]
                tr
                    each col in [0, 1, 2, 3]
                        td
                            input(type="number", step=0.5, value=0, class="matrix-row", data-row=row, data-col=col)

